{% extends "base.html" %}
{% block title %}Delete Ad{% endblock %}


{% block content %}
    <form method="POST" action="" class="text-center" style="color: black">
        <h1>Are you sure want to delete ad </h1>
        <h2>Summary: {{ ad.name }}</h2>
        <p>Description: {{ ad.description }}</p>
        {% csrf_token %}
        <input class="btn" style="border:solid 2px black" type="submit" value="Yes" >
        <a style="border:solid 2px black" href="{% url "webapp:ad_view" ad.pk %}" class="btn rounded text-decoration-none link-dark">No</a>
    </form>
{% endblock %}