{% extends 'base.html' %}


{% block nav %}

{% endblock %}

{% block content %}
    <h1>Ads</h1>
    <div class="row">
        {% for ad in ads %}
            <div class="col-4 my-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Заголовок: {{ ad.title }} </h5>
                        <p class="card-text">Автор: {{ ad.author }}</p>
{#                        <a href="{{ add.get_absolute_url }}" class="btn btn-primary">Подробнее...</a>#}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}